:root {
  /* 主色调 */
  --primary-color: #ff9854;
  /* 搜索框左侧图标颜色 */
  --van-search-left-icon-color: #ff9854 !important;
  /*  */
  --them--linear--gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  --van-primary-color: var(--primary-color) !important;
  --van-nav-bar-title-text-color: var(--primary-color) !important;
}

body {
  background-color: #fff;
}

.top_page {
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  position: relative;
  z-index: 9;
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}